<h1>Products#index</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Restaurant</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <t>
        <th><%= p.name %></th>
        <th><%= p.value %></th>
        <th><%= p.restaurant.name %></th>
      </t>
    <% end %>
  </tbody>
</table>
